<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <title>Kulineran Yuk</title>
  </head>
  <body>
    <header> 
      <nav class="navbar">
        <a href="#" class="navlogo">
          <img src="./images/logo/kulineranyuk-high-resolution-logo-white-transparent.png" alt="logo KulineranYuk" id="logo" />
        </a>

        <div class="navbar-nav">
          <a tabindex="0" href="#home">Home</a>
          <a tabindex="0" href="#">Favorite</a>
          <a tabindex="0" href="https://www.linkedin.com/in/fxdickys/" target="_blank">About US</a>

          <div class="navbar-extra">
            <a href="#" id="menu-list"><i data-feather="menu"></i></a>
          </div>
          </div>

      </nav>      
    </header>

    <main>
    <!-- Heroes Section Start-->
     <section class="hero" id="home">
        <div class="content">
          <h1><span id="logo">KulineranYuk,</span></h1>
          <h2>merupakan recomendasi tempat kuliner favorite di daerah mu</h2`>
          <!-- <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
        </div>
     </section>
    <!-- Heroes Section End-->

    <div class="main-content">
      <h1>List Restaurant</h1>
      <div class="resto">
        <div class="resto-card">test</div>
        <div class="resto-card">test</div>
      </div>

    </div>
  </main>
  <footer>
      <span>copyright @2024 - KulineranYuk App</span>
  </footer>

</body>
</html>
