<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- myStyle -->
    <link rel="stylesheet" href="./src/styles/styles.css" />
    
    <title>Kulineran Yuk</title>
  </head>
  <body>
    <header> 
      <nav class="navbar">
        <a href="#" class="navlogo">
          <img src="/asset/logo.png" alt="kosHUB logo" id="logo" />
          <!-- Kos<span>HUB</span> -->
        </a>

        <div class="navbar-nav">
          <a href="#">Home</a>
          <a href="#order">Pemesanan</a>
          <a href="#faq">FAQ</a>
          <a href="#abut">Tentang Kami</a>
        </div>

        <div class="navbar-extra">
          <a href="#" id="login"><i data-feather="log-in"></i></a>
          <a href="#" id="menu-list"><i data-feather="menu"></i></a>
        </div>
      </nav>      
    </header>

    
    <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros
      sebagai background hero elemen.
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
  </body>
</html>
